on boot
# setup the global environment
    #export PATH /sbin:/system/sbin:/system/bin:/system/xbin:/usr/bin

# create mountpoints and mount tmpfs on sqlite_stmt_journals
## hopemini@lge.com, 2008-07-16
	symlink /sqlite_stmt_journals /tmp
	#mkdir /usr
	#mkdir /usr/bin
	#symlink /sbin/lrz /usr/bin/rz
	#symlink /sbin/lsz /usr/bin/sz
	#mkdir /data/test_results 01777 shell shell

# LGE_CHANGE_S, [yoohoo@lge.com] 2009-03-10, <make wifi directory>    
    mkdir /data/misc/wifi 0771 system misc
	mkdir /data/misc/wifi/sockets 0777 root root
# create dhcp RUNDIR temporally: sys2you@lge.com	
    mkdir /data/misc/dhcp 0777 system system

    setprop wifi.supplicant_scan_interval 20
    setprop wifi.interface wlan0
# LGE_CHANGE_E, [yoohoo@lge.com] 2009-03-10, <make wifi directory>    
## add by hopemini@lge.com, 2008-06-07
	chown system system /sys/class/backlight/ct810-bl/brightness
	chown system system /sys/class/backlight/adam-bl/brightness
	chown system system /sys/class/backlight/adam-bl/alc_mode
	chown system system /dev/smd0
	chown system system /sys/devices/platform/folder/state
	chown system system /dev/amp
	chmod 0666 /dev/amp
	chown system system /dev/cam
	chmod 0666 /dev/cam
	chmod 0666 /data/misc/ts_cal
	chmod 0666 /dev/bma150
# LGE_BT, hopemini@lge.com
	chmod 0666 /sys/class/rfkill/rfkill0/type
	chmod 0666 /sys/class/rfkill/rfkill0/state
	chmod 0666 /dev/ttyHS0
	chown bluetooth bluetooth /dev/ttyHS0

	chmod 0666 /sys/devices/platform/android-vibrator/enable
	chmod 0666 /sys/devices/platform/android-vibrator/amp
# LGE_CAMERA, hopemini@lge.com
	
    #Auto adjust tcp window
    write /proc/sys/net/ipv4/tcp_adv_win_scale  1

    #Somehow this is not handled by uevents
    exec /sbin/mknod /dev/msm_camera0 c 246 0
    chown system camera /dev/msm_camera0
    chmod 0666 /dev/msm_camera
	chmod 0666 /dev/mv9319_sony_5m

# LGE_CHANGE [bluerti@lge.com]
	symlink /system/bin/AT /system/bin/at

# LGE_CHANGE [zugwan@lge.com], check and upgrade Camera ISP Firmware
    write /sys/devices/platform/i2c-gpio.3/i2c-adapter/i2c-3/3-0028/firmware 1
    write /dev/msm_camera0 0

# LGE_CHANGE [hayoung@lge.com], for buttonLED
    chmod 0666 /sys/devices/platform/android-keyled/setting
    chmod 0666 /sys/devices/platform/android-keyled/shift
    chmod 0666 /sys/devices/platform/android-keyled/enable
        
# LGE_CHANGE [ljmblueday@lge.com], for USB connection mode        
    chmod 0666 /sys/devices/platform/msm_hsusb_periphera/composition

# LGE_CHANGE, [munyoung@lge.com] Disable fbcon cursor blink for fix BT sound break on sleep
	write /sys/devices/virtual/graphics/fbcon/cursor_blink 0
        
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand
    # LGE_CHANGE_S, change sampling rate to qct's recommand value(500000->20000)
    #        echo 90 > /sys/devices/system/cpu/cpu0/cpufreq/ondemand/up_threshold
    #        echo 60 > /sys/devices/system/cpu/cpu0/cpufreq/ondemand/down_threshold
    write /sys/devices/system/cpu/cpu0/cpufreq/ondemand/sampling_rate 20000
    # LGE_CHANGE_S, change sampling rate to qct's recommand value(500000->20000)
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 245760

    #This device enables the proximity sensor
    chown system system /sys/devices/platform/i2c-gpio.6/i2c-adapter/i2c-6/6-0044/enable
    chmod 0666 /sys/devices/platform/i2c-gpio.6/i2c-adapter/i2c-6/6-0044/enable

    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chmod 0666 /sys/module/bluetooth_power/parameters/power
    chmod 0666 /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0666 /sys/class/rfkill/rfkill0/type
    chmod 0666 /sys/class/rfkill/rfkill0/state
    chmod 0666 /dev/ttyHS0

    chmod 0666 /dev/msm_snd

    # The compass device
    chown system system /dev/akm8973_daemon
    chown system system /dev/akm8973_aot
    chmod 0666 /dev/akm8973_daemon
    chmod 0666 /dev/akm8973_aot

    ## [[[ ARE WORKAROUND ]]]
    chmod 0666  /sys/module/pm/parameters/boot_complete
#add by kimeh@lge.com
    chown radio system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq

service wpa_supplicant /system/bin/wpa_supplicant -Dwext -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf -dd
	disabled
	oneshot

service dhcpcd /system/bin/dhcpcd -B wlan0
	disabled
	oneshot

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd

service akmd2 /system/bin/akmd2

# LGE_CHANGE_S, [ljmblueday@lge.com] 2009-04-02, <initilize port-bridge services for Dial up network>
service port-bridge /system/bin/port-bridge /dev/smd0 /dev/ttyHSUSB0 &
# LGE_CHANGE_E, [ljmblueday@lge.com] 2009-04-02, <initilize port-bridge services for Dial up network>
